body {
    background-color: #efef;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }

  header {
    background-color: #000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    
}

  .marquee {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #c99a9a;
    padding: 10px;
  }
  
  .navbar {
    background-color: black;
  }
  
  .navbar-brand img {
    height: 70px;
    width: 100px;
  }
  
  .nav-link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
  
  .carousel-inner img {
    height: 800px;
  }
  
  
  
  .card {
    margin-bottom: 20px;
    margin-left: 5px;
  }
  
  .card-img-top {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: x-large;
    color: black;
  }
  
  .card-text {
    font-size: x-large;
    color: black;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
    text-decoration: underline;
  }
  
  footer {
    background-color: black;
    padding: 20px;
    color: #fff;
  }
  
  .social-media {
    padding: 50px;
    padding-left: 600px;
  }
  
  .social-media i {
    font-size: 24px;
    margin-right: 20px;
    color: #f4f4f4;
  }
  
  .copyright {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    text-align: center;
    color: #fff;
  }